#quickNav {
  height: 50px;
  width: 60px;
  border-radius: 0 50% 50% 0;
  position: absolute;
  display: none;
  top: 20px;
  left: 0px;
  background-color: hsla(0, 28%, 43%, 0.662);
  align-content: center;
  padding: 0.5px;
  color: white;
}

#quickNav:hover {
  cursor: pointer;
}
